
/* Your CSS Code here. */
body,height{
	height:0;
	margin:0;
}
.moviePic{
	display:block;
	margin:auto;
	width:80%;
	height:50vh;
	opacity:0.8;
}
.movieDetails{
	position:relative;
	font-size:18px;
	top:10px;
	width:80%;
	margin:0 auto;
	text-align:center;
}